.task-list {
  width: 736px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
}

.task-list .header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin-top: 64px;
}

.task-list .header .created {
  color: var(--blue);
}

.task-list .header p {
  font-size: 14px;
  font-weight: 700;
}

.task-list .header .done {
  color: var(--purple);
}

.task-list .header .counter {
  background: var(--gray-400);
  border-radius: 999px;
  font-size: 12px;
  font-weight: 700;
  color: var(--gray-200);
  padding: 2px 8px;
  margin-left: 8px;
}

.task-list .body {
  width: 100%;
}

.task-list .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
}

.task-list ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;

  background-color: var(--gray-500);
  color: var(--gray-100);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.task-list ul p {
  flex-grow: 1;
  font-size: 14px;
}

.task-list .task-checkbox {
  position: relative;
}

.task-list .task-checkbox label {
  background-color: var(--gray-500);
  border: 1px solid var(--blue);
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.task-list .task-checkbox label:after {
  border: 2px solid var(--gray-100);
  border-top: none;
  border-right: none;
  content: '';
  opacity: 0;
  position: absolute;
  transform: rotate(-45deg);
  width: 7px;
  height: 3px;
  left: 3.4px;
  top: 3.5px;
}

.task-list .task-checkbox input[type="checkbox"] {
  visibility: hidden;
}

.task-list .task-checkbox input[type="checkbox"]:checked+label {
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
}

.task-list .task-checkbox input[type="checkbox"]:checked+label:after {
  opacity: 1;
}


.task-list .empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 64px 24px;
  gap: 16px;
}

.task-list .empty p {
  text-align: center;
  color: var(--gray-300);
  font-weight: 700;
}

.task-list .empty p span {
  font-weight: 400;
}